<center>
    <h1>Binning</h1>
</center><br/>

- Binning is a process in which you group the values together into bins. For example, binning the age into 0 to 5, 6 to 10, 11 to 15, 16 to 20, and so on..
- <b>Dataset Link: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams</b>

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv("StudentsPerformance.csv", usecols=["gender", "math score"])
data.head()

   gender  math score
0  female          72
1  female          69
2  female          90
3    male          47
4    male          76

In [8]:
# define the bins
bins = [0, 25, 50, 75, 100]

# define the bin names
bin_names = ["Fail", "Average", "Good", "Brilliant"]

data["Grades"] = pd.cut(data["math score"], bins = bins, labels = bin_names)

In [9]:
data.head()

   gender  math score     Grades
0  female          72       Good
1  female          69       Good
2  female          90  Brilliant
3    male          47    Average
4    male          76  Brilliant