<center>
    <h1>Creating New Column</h1>
</center>

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({
    "x": np.arange(1, 100),
    "y": np.arange(101, 200)
})
df.head()

   x    y
0  1  101
1  2  102
2  3  103
3  4  104
4  5  105

In [11]:
df.shape

(99, 2)

In [12]:
df["x+y"] = df["x"] + df["y"]
df.head()

   x    y  x+y
0  1  101  102
1  2  102  104
2  3  103  106
3  4  104  108
4  5  105  110

In [15]:
df["new_col"] = [i for i in range(99)]
df.head()

   x    y  x+y  new_col
0  1  101  102        0
1  2  102  104        1
2  3  103  106        2
3  4  104  108        3
4  5  105  110        4