<center>
    <h1>One Way ANOVA or F Test</h1>
</center>

Intution of 1 way Anova which is tested using F Distribution is
- One way ANOVA is used to compare the means of different groups
- If there are three attributes a1,a2,a3 and classes C1,C2,C3
- if the means of the three class is far from each other than that is a good attribute, feature
- so if class means of a1 are (0.5,3.0,5.6) and a2 is (2,2.1,2.2) then a1 is a better feature
- This is formally measured by F Score and it is higher from a1 and a2

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

%matplotlib inline

<b>Dataset Link:</b> https://www.kaggle.com/datasets/seshadrikolluri/ansur-ii?select=ANSUR+II+MALE+Public.csv

In [18]:
data = pd.read_csv("male_data.csv", nrows=1000)
data.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [19]:
data.shape

(1000, 108)

In [20]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
data = data.select_dtypes(include=numerics)

In [21]:
data.shape

(1000, 99)

In [22]:
X = data.drop(columns="Weightlbs", axis = 1)
y = data.loc[:, "Weightlbs"]

In [23]:
# splitting the data for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 24)
print(f"Train Data: {X_train.shape}, {y_train.shape}")
print(f"Test Data: {X_test.shape}, {y_test.shape}")

Train Data: (800, 98), (800,)
Test Data: (200, 98), (200,)

In [24]:
# scaling the data
scaler = StandardScaler()
scaled_train = scaler.fit_transform(X_train)
scaled_test = scaler.transform(X_test)

In [25]:
rf_model = RandomForestRegressor(random_state = 24)
rf_model.fit(scaled_train, y_train)

RandomForestRegressor(random_state=24)

In [26]:
print(f"Score: {rf_model.score(scaled_test, y_test)}")

Score: 0.9525694773382329

## Using One Way ANOVA or F-Test for Feature Selection

In [30]:
selector = SelectKBest(f_classif, k=10)
selector.fit(scaled_train, y_train)

cols = selector.get_support(indices=True)
print(cols)

X_train_selected = selector.transform(scaled_train)

print("X_train.shape: {}".format(scaled_train.shape))
print("X_train_selected.shape: {}".format(X_train_selected.shape))

[11 16 17 24 51 60 78 84 87 91]
X_train.shape: (800, 98)
X_train_selected.shape: (800, 10)

In [31]:
X_test_selected = selector.transform(scaled_test)
X_test_selected.shape

(200, 10)

In [32]:
rf_model = RandomForestRegressor(random_state = 24)
rf_model.fit(X_train_selected, y_train)

RandomForestRegressor(random_state=24)

In [33]:
rf_model.score(X_test_selected, y_test)

0.9520419179584497